/*Formatting for all three buttons.*/
.buttons {
  background: #F7F3E9;
  border-radius: 50px;
  height: 2.4em;
  width: 9em;
  text-align: center;
}

/*Formatting for overall wrapper of page.*/
#custom-log-wrapper {
  align-items: center;
  display: grid;
  justify-content: center;
}

/*Formatting for the log section.*/
#log {
  background: #F7F3E9;
  border-radius: 50px;
  height: 77vh;
  margin: 5%;
  text-align: center;
  width: 56vw;
}

/*Formatting for the wrapper for buttons to center them.*/
#nav-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  padding-left: 10%;
}

/* formatting for home button div */
.home-button {
  position: absolute;
  z-index: 99;
}
  
/* formatting for home button itself */
.home-button button {
  border: none;
  background: #5aa89742;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: .5rem;
  margin-left: 2rem;
}

/* formatting for home button when hovered on  */
.home-button button:hover {
  background: #5aa8979f;
}