@import url(https://fonts.googleapis.com/css2?family=Questrial&display=swap);

*{
    font-family: 'Questrial', sans-serif;
    margin: 0;
    padding: 0;
}

html, 
body {
  height: 100%;
  width: 100%;
}
/*Aligning the month on calendar*/
#cal {
  text-align: center;
}

/*Calendar*/
#calendar {
  background: #F7F3E9;
  border-radius: 50px;

  margin-left: 1%;
  margin-bottom: 1%;

}

.cal-body {
  display: grid;
  grid-template-columns: repeat(7,2.5em);
  justify-content: space-evenly;
  text-align: center;
}

/*Wrapper for all components*/
#daily-tasks-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 70% auto;
  height: 95%;
  min-height: 700px;
  min-width: 900px;
}

/*Wrapper for daily tasks section*/
#daily-tasks .widget{
  align-items: center;
  background: #F7F3E9;
  border-radius:  50px; 
  display: grid;
  grid-template-rows: 9% 60% 31%;
  text-align: center;
  width: 100%;
  height: 100%;
}

/*Formatting for forms inside daily tasks*/
#form {
  display: inline-block;
}

/*Coral border on calendar*/
#month {
  align-items: center;
  background: #E9896A;
  border-radius: 50px 50px 0px 0px;
  justify-content:space-evenly;
  display: flex;
  flex-direction: column;
}

.week {
  display: grid;
  grid-template-columns: repeat(7,2.5em);
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

/*Formatting for reflection box*/
#reflect-box {
  background: #FFFFFF;
  border-radius: 50px;
  height: 90%;
  width: 90%;
  justify-self: center;
}

/*Formatting for the tasks box*/
#text-box {
  background: #FFFFFF;
  border-radius: 50px;
  height: 90%;
  width: 90%;
  justify-self: center;
  overflow-y: auto;
  padding: 2rem;
  box-sizing: border-box;
}

/*Wrapper for tracker section*/
#trackers {
  background: #F7F3E9;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Formatting for tracker box*/
#tracker-box {
  background: #FFFFFF;
  border-radius: 50px;
  width: 90%;
  height: 90%;
}

/* formatting for home button itself */
.home-button button {
  border: none;
  background: #5aa89742;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: .5rem;
  margin-left: 2rem;
}

/* formatting for home button when hovered on  */
.home-button button:hover {
  background: #5aa8979f;
}

.home-button {
  height: 5%;
  display: flex;
  align-content: center;
}

.header {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  background: #E9896A;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

h1 {
  grid-column-start: 2;
}

#add {
  font-size: xxx-large;
  cursor: pointer;
  user-select: none;
}


.col {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  height: 95%;
}


.widget {
  border-radius: 50px;
  display: grid;
  grid-template-rows: 25% auto;
}

#cal-tracker{
  grid-template-rows: 40% auto;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
}