/* Future Log Styling*/

@import url(https://fonts.googleapis.com/css2?family=Questrial&display=swap);

*{
    font-family: 'Questrial', sans-serif;
}

/* background color for page */
body {
    background-color: #F7F3E9;
}

/* center h1 */
h1 {
    text-align: center; 
}

/* use flex to split page into left and right sections */
.container {
    display: flex;
    flex-direction: row;
}

.left {
    width:70%;  /* left side takes up more space than right */
    text-align: center;
    padding-right: 100px ;
}

.right {
    background-color: #E9896A;
    border-radius: 50px;
    margin-top: 50px;
}

/* align days and weeks of each calendar using grid */
.week, .day {
    display: grid;
    grid-template-columns: repeat(7,40px);
    justify-content: center;
    grid-row-gap: 10px;
    padding: 0 10px 20px;
}

/* background color and border for each calendars */
.whole-cal {
    background-color:hsl(15, 89%, 75%); 
    border-radius: 40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* align 6 calendars with 3 calendars (columns) per row */
.calendars {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
}

/* styling task list -- tentative */
.right > p, 
h2, 
ul {
    padding-left: 20px;
}

/* shifts month header of each cal to the left*/
.whole-cal > h2 {
    text-align: left;
}

/* Change calendar grid to be 2 calendars (col) per row on smaller screens */
@media screen and (max-width: 1400px) {
    .calendars {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-column-gap: 50px;
    }
}

.home-button {
  position: absolute;
  z-index: 99;
}
  
.home-button button {
  border: none;
  background: #5aa89742;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: .5rem;
  margin-left: 2rem;
}

.home-button button:hover {
  background: #5aa8979f;
}