/* html and body */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Questrial", sans-serif;
}

/* text */
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 25% 50% 25%;
  height: 100%;
  min-width: 1024px;
  width: 100%;
}

.col {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;
  padding-bottom: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
}

.left-col,
.right-col {
  grid-template-rows: 30% auto;
}

.center-col {
  grid-template-rows: 15% auto 30%;
}

.widget {
  border-radius: 50px;
  display: grid;
  grid-template-rows: 25% auto;
}

.header {
  align-items: center;
  background: #f8a488;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: bottom;
}

.widget-content {
  background: #f8f5f1;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#index .header,
#collections .header {
  background: #5aa897;
}

#todays-log .header {
  background: #45526c;
  color: white;
}

#index .widget-content {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#index .widget-content button {
  align-items: center;
  background: #5aa89742;
  border: none;
  border-radius: 50px;
  display: flex;
  height: 10%;
  justify-content: center;
  text-align: center;
  width: 70%;
}

#index .widget-content button:hover {
  background: #5aa8979f;
}

#greeting .widget-content {
  text-align: center;
}

#greeting .widget-content img {
  border-radius: 100%;
  max-height: 80%;
  max-width: 80%;
  margin-top: 5%;
}

#collections .widget-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#collections .widget-content button {
  background: #5aa89742;
  border: none;
  width: 70%;
  text-align: center;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

#collections .widget-content button:hover {
  background: #5aa8979f;
}

#mission .widget-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  font-size: x-large;
}

#search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search {
  background: lightgray;
  border: none;
  color: black;
  width: 80%;
  height: 10%;
  border-radius: 50px;
  text-align: center;
  font-size: larger;
  padding: 1rem;
}

#search[type="text"]:focus {
  outline: none;
}

#todays-log .widget-content {
  padding: 2rem;
  font-size: x-large;
}

#todays-log .widget-content li {
  padding: 0.3rem;
}

#todays-log .header {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

#todays-log h1 {
  grid-column-start: 2;
}

#todays-log #add {
  font-size: xxx-large;
  cursor: pointer;
  user-select: none;
}

#todays-log #add:hover {
  color: lightgray;

}

/* formatting for home button itself */
.home-button button {
  border: none;
  background: #5aa89742;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: .5rem;
  margin-left: 2rem;
}

/* formatting for home button when hovered on  */
.home-button button:hover {
  background: #5aa8979f;
}


/*Aligning the month on calendar*/
#cal {
  text-align: center;
  width: 100%;
}

/*Calendar*/
#calendar {
  background: #F7F3E9;
  border-radius: 50px;

  margin-left: 1%;
  margin-bottom: 1%;

}

.cal-body {
  display: grid;
  grid-template-columns: repeat(7,14.2857143%);
  justify-content: space-evenly;
  text-align: center;
  height: 100%;
  width: 100%;

}

/*Coral border on calendar*/
#month {
  justify-content:space-evenly;
  flex-direction: column;
}

.week {
  display: grid;
  grid-template-columns: repeat(7,14.2857143%);
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
}