/* html and body */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Questrial", sans-serif;
}

/* whole page container */
.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* div for form and header */
.login-div {
  width: 90%;
  height: 80%;
  max-width: 500px;
  max-height: 600px;

}

/* login div header */
.login-div .header {
  background: #5aa897;
  width: 100%;
  height: 20%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* div for only login form */
.login-div .login {
  background: #f8f5f1;
  height: 80%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* login form */
.login-div .login form {
  text-align: center;
}

/* form inputs */
.login-div .login form input, 
.login-div .login form label, 
.login-div .login form button {
  margin: 1rem;
  font-size: larger;
}

/* form button */
.login-div .login form button {
  background: #5aa89742;
  border: none;
  border-radius: 50px;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* form button hover */
.login-div .login form button:hover {
  background: #5aa8979f;
}